[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
djangorestframework = "*"
django-crispy-forms = "*"
crispy-tailwind = "*"
django-allauth = "*"
django-compressor = "*"
redis = "*"
django-translate-gettext = "*"

[dev-packages]

[requires]
python_version = "3.11"
